@import '@/styles/colors.scss';

@keyframes close {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes open {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(-100%, -100%);
  }
}

.notificationWrapper {
  display: flex;
  align-items: center;
  position: fixed;
  width: 300px;
  padding: 24px;
  z-index: 2;
  top: calc(100% - 20px);
  left: calc(100% - 40px);
  transform: translate(-100%, -100%);

  color: $green-200;
  border-radius: 4px;
  border: 1px solid $green-200;
  background-color: $green-100;

  animation: open 400ms linear;

  @media (max-width: 768px) {
    width: 220px;
    padding: 14px;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 4px 0;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}

.message {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: calc(100% - (14px + 10px));
  line-height: 1;
  cursor: pointer;
}

.border {
  position: absolute;
  width: 100%;
  height: 5px;
  margin: 0 auto;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $green-200;
  transform: translate(0, -100%);
  animation: close 3000ms linear;
}
