@import '@/styles/colors.scss';

.blogPostCard {
  display: flex;
  align-items: center;
}

.image {
  width: 490px;
  height: 318px;
  margin: 0 32px 0 0;
  object-fit: cover;
}

.content {
  max-width: 624px;
}

.type {
  color: $purple;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title {
  margin: 20px 0 16px 0;
  color: $black;
  font-family: var(--font-sen);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.text {
  color: $grey-400;
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 28px;
}
