@import '@/styles/colors.scss';
@import '@/styles/global.scss';

.nav {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100vh;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    padding: 80px 30px;
    background-color: $black;
    animation: slide 0.3s linear;
  }
}

.list {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.link {
  @include adaptive-font(16, 12);
  margin: 0 24px 0 0;

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
}

.active {
  color: $yellow-100;
}
