@import '@/styles/colors.scss';

.section {
  background-color: $grey-200;
}

.wrapper {
  display: flex;
  padding: 128px 0;
}

.avatar {
  width: 251px;
  height: 294px;
  object-fit: cover;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
  margin: 0 0 0 32px;
}

.links {
  display: flex;

  li {
    margin: 0 16px 0 0;
  }
}
