@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  margin: 0 0 48px 0;
  text-transform: capitalize;
  text-align: center;
  animation: slideUp 1500ms ease;
}

.list {
  display: flex;
  justify-content: space-between;
  animation: slideUp 1500ms ease;
  gap: 0 10px;

  @media (max-width: 768px) {
    flex-direction: column;

    li {
      margin: 0 0 15px 0;
    }

    li > a > div {
      max-width: 100%;
      width: 100%;
    }
  }
}
