@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  margin: 0 0 48px 0;
  text-align: center;
  animation: slideUp 1500ms ease;
}

.list {
  display: flex;
  justify-content: space-between;
  animation: slideUp 1500ms ease;
}

.listItem {
  flex: 1;
  max-width: 296px;
}
