$black: #232536;
$yellow-200: #edc14a;
$yellow-100: #ffd050;
$purple: #592ea9;
$red: #ff0000;
$grey-500: #4c4c4c;
$grey-400: #6d6e76;
$grey-300: #f4f4f4;
$grey-200: #f4f0f8;
$grey-100: #fbf6ea;
$white: #fff;
