@import '@/styles/colors.scss';

.search {
  position: relative;
  display: flex;
  margin: 0 0 58px 0;

  & input {
    width: 100%;
    border-radius: 6px;
  }

  & button {
    position: absolute;
    height: 100%;
    padding: 11px;
    left: calc(100% + 1px);
    border-radius: 6px;
    transform: translateX(-100%);
  }
}

.postsList {
  position: absolute;
  top: 100%;
  background-color: $white;
  border-radius: 6px;
  border: 1px solid $grey-400;
  border-bottom: none;
}

.postsItem {
  width: 100%;
  padding: 5px;
  text-overflow: clip;
  border-bottom: 1px solid $grey-400;
  cursor: pointer;

  &:hover {
    background-color: $yellow-100;
  }
}
