@import '@/styles/colors.scss';

.button {
  display: flex;
  align-items: center;
  max-width: 296px;
  padding: 24px;
  border: 1.5px solid #c1c1c3;

  cursor: pointer;
}

.input {
  display: none;

  &:checked + label {
    background-color: $yellow-100;
  }
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: $grey-100;
}

.caption {
  margin: 0 0 0 16px;
  font-family: var(--font-sen);
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
}

.checked {
}
