@import '@/styles/colors.scss';

.label {
  display: inline-block;
  cursor: pointer;
}

.input {
  display: none;

  &:checked + span {
    background-color: $yellow-100;
  }
}

.text {
  display: block;
  padding: 8px 38px;
  border-radius: 28px;
  border: 2px solid $grey-400;
  font-family: var(--font-sen);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: $black;
  text-transform: capitalize;
  line-height: 32px;
}
