@import '@/styles/colors.scss';

.wrapper {
  position: relative;
  width: 100%;
}

.textarea {
  width: 100%;
  padding: 14px 25px;
  background: none;
  line-height: 26px;
  resize: none;
}

.primary {
  color: $black;
  border: 1px solid rgba(109, 110, 118, 0.5);

  &::placeholder {
    color: $grey-500;
    text-transform: capitalize;
  }
}

.secondary {
  color: $white;
  border: 1px solid $grey-500;

  &::placeholder {
    color: $grey-400;
  }
}

.errorMessage {
  position: absolute;
  top: calc(100% - 4px);
  left: 0;
  color: $red;
}

.error {
  border-color: $red;
}
