@import '@/styles/colors.scss';

.headerWrapper {
  color: $white;
  background-color: $black;
  padding: 12px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
}

.link {
  margin: 0 24px 0 0;
}
