.section {
  display: flex;
  justify-content: space-between;
}

.postsList {
  width: 100%;
}

.blogListItem {
  margin: 0 0 32px 0;

  img {
    width: 294px;
    height: 312px;
  }
}

.notFound {
  width: 100%;
  margin: 200px 0 0 0;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.controlBar {
  max-width: 296px;
}

.categoryTitle {
  margin: 0 0 40px 0;
}

.categoryItem {
  margin: 0 0 24px 0;
}

.tagsTitle {
  margin: 0 0 24px 0;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
